mixin card-aerobottom(heading="heading-aero",title="title-aero",content="content-aero")
    p.white.bottomaero-heading= heading
    h3.white.bottomaero-title= title
    p.white.bottomaero-content= content
    if block  
        block